/* General body styles */
body {
    font-family: 'Gill Sans', sans-serif;
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

/* Typography */
h1, h2, h3 {
    font-family: 'Gill Sans', sans-serif;
    color: #1c305c; /* Stylish blue for headings */
}

/* Header styles */
header {
    background-color: white;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Section titles */
h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Image Styling */
img {
    width: auto;
    height: 300px; /* Maintains the height but allows for responsive width */
    display: block; /* Each image takes its own line */
    margin: 10px auto; /* Centers image with margin */
    border: 1px solid #ddd;
}

/* Footer styles */
footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    border-top: 2px solid #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
    img {
        max-width: 100%; /* Full width on medium and smaller screens */
    }

    h1, h2, h3 {
        font-size: smaller;
    }

    /* Adjustments for text and padding */
    body, header, footer {
        padding: 10px;
    }
}

/* Further adjustments for very small screens */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em; /* Larger font for the main heading on small screens */
    }

    h2 {
        font-size: 1.25em; /* Adjust headings for readability */
    }

    /* Reduce overall padding on smallest screens */
    body, header, footer {
        padding: 5px;
    }
}
